.menu-item {
    font-family: sans-serif;
    color: var(--color-text);
    text-decoration: none;
    border-bottom: 1px dashed currentColor;

    &:focus,
    &:hover:not(&--disabled) {
        border-bottom: none;
    }

    &--active {
        font-weight: bold;
    }

    &--disabled {
        opacity: .5;
        cursor: not-allowed
    }
}